In [13]:
install.packages("dplyr")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [14]:
library(dplyr)

In [1]:
setwd ("/Users/ruyazhang/downloads")

In [2]:
dat1 <- read.csv("MedicareAllTelehealth.csv")

In [3]:
vars <- c("State", "Gender", "Credentials", "City", "ProviderType")

In [4]:
medicare1 <- dat1[,vars]

In [12]:
summary(medicare1, maxsum = 100)

 State      Gender                  Credentials                   City
 AE:   44    :    17   MD                 :339781   NEW YORK        : 11651
 AK: 1959   F:391309   M.D.               :339013   CHICAGO         :  9328
 AL:15312   M:657249   D.O.               : 40297   HOUSTON         :  9256
 AP:   11                                 : 34868   PHILADELPHIA    :  7955
 AR: 9617              DO                 : 29543   BOSTON          :  7541
 AZ:20759              PA-C               : 29222   ROCHESTER       :  6569
 CA:78966              NP                 : 17554   BALTIMORE       :  6389
 CO:16237              DPM                : 15396   COLUMBUS        :  6158
 CT:15793              PA                 : 12488   SPRINGFIELD     :  6008
 DC: 3100              M.D                : 11953   BROOKLYN        :  5928
 DE: 4049              FNP                : 11150   LOS ANGELES     :  5803
 FL:73622              O.D.               : 10975   DALLAS          :  5801
 GA:29099              ARNP               :  8456   CLEVELAND       :  5443
 GU:  174              APRN               :  7740   SAINT LOUIS     :  5364
 HI: 2912              D.P.M.             :  6357   SAN ANTONIO     :  5274
 IA:11015              LCSW               :  5485   INDIANAPOLIS    :  5246
 ID: 4975              CRNP               :  5394   JACKSONVILLE    :  5161
 IL:45039              OD                 :  5381   PHOENIX         :  4817
 IN:23512              FNP-C              :  4475   SEATTLE         :  4788
 KS:10459              NP-C               :  4436   LOUISVILLE      :  4530
 KY:17155              P.A.               :  3918   ATLANTA         :  4455
 LA:14755              CNP                :  3877   PITTSBURGH      :  4301
 MA:33533              PH.D.              :  3844   PORTLAND        :  4283
 MD:23325              FNP-BC             :  3352   CINCINNATI      :  4237
 ME: 5664              N.P.               :  3264   CHARLOTTE       :  4207
 MI:37322              APN                :  3032   NASHVILLE       :  4132
 MN:18594              PHD                :  2966   MIAMI           :  4064
 MO:21183              PAC                :  2648   COLUMBIA        :  4060
 MP:   23              D.O                :  2074   RICHMOND        :  3815
 MS: 9261              M.D., PH.D.        :  1913   GREENVILLE      :  3796
 MT: 3839              MD, PHD            :  1906   WASHINGTON      :  3790
 NC:37182              M. D.              :  1896   LAS VEGAS       :  3606
 ND: 3036              PSY.D.             :  1772   AUSTIN          :  3520
 NE: 7538              ANP                :  1590   TAMPA           :  3480
 NH: 6427              P.A.-C             :  1174   OKLAHOMA CITY   :  3414
 NJ:34141              PSYD               :   999   LEXINGTON       :  3376
 NM: 5562              APNP               :   978   KANSAS CITY     :  3334
 NV: 6964              MD, MPH            :   959   JACKSON         :  3324
 NY:70184              NURSE PRACTITIONER :   950   MILWAUKEE       :  3299
 OH:43101              MD PHD             :   911   MADISON         :  3252
 OK:12546              MBBS               :   871   SAN DIEGO       :  3236
 OR:11150              M.D.,              :   870   OMAHA           :  3197
 PA:52738              LICSW              :   832   CHARLESTON      :  3194
 PR: 2676              M.D., M.P.H.       :   826   BIRMINGHAM      :  3158
 RI: 3994              CFNP               :   775   TUCSON          :  3065
 SC:16265              RPA-C              :   730   TULSA           :  2998
 SD: 3452              D.P.M              :   690   GAINESVILLE     :  2995
 TN:24760              ACNP               :   662   SAN FRANCISCO   :  2988
 TX:66357              MSW                :   630   BRONX           :  2922
 UT: 6822              F.N.P.             :   614   WILMINGTON      :  2817
 VA:28164              LMSW               :   583   ORLANDO         :  2764
 VI:  175              PHYSICIAN ASSISTANT:   574   KNOXVILLE       :  2644
 VT: 2498              PA C               :   556   AURORA          :  2613
 WA:21853              PMHNP              :   554   SACRAMENTO      :  2613
 WI:21113              P.A.-C.            :   511   ALBUQUERQUE     :  2573
 WV: 6698              ANP-BC             :   495   DETROIT         :  2554
 WY: 1772              M.D,               :   491   MINNEAPOLIS     :  2537
 XX:   25              MD.                :   472   FORT WORTH      :  2513
 ZZ:   74              PMHNP-BC           :   470   BURLINGTON      :  2509
                       CNS                :   458   ANN ARBOR       :  2489
                       DNP                :   447   NEWARK          :  2425
                       A.R.N.P.           :   383   MEMPHIS         :  2383
                       RD                 :   375   GRAND RAPIDS    :  2333
                       L.C.S.W.           :   361   RALEIGH         :  2274
                       MSW, LCSW          :   357   LANCASTER       :  2273
                       M D                :   323   SCOTTSDALE      :  2243
                       M.D., PHD          :   323   LITTLE ROCK     :  2230
                       LISW               :   318   WINSTON SALEM   :  2223
                       PH.D               :   318   ALBANY          :  2186
                       RN                 :   309   DURHAM          :  2124
                       DDS                :   307   FAYETTEVILLE    :  2100
                       C.R.N.P.           :   292   SALT LAKE CITY  :  2071
                       APRN, BC           :   287   LAFAYETTE       :  2052
                       ANP-C              :   276   WICHITA         :  2017
                       APRN, FNP-C        :   274   DENVER          :  2001
                       ACNP-BC            :   270   WORCESTER       :  1980
                       MD PA              :   261   PEORIA          :  1959
                       M.D., MPH          :   255   LEBANON         :  1957
                       MD FACC            :   254   ASHEVILLE       :  1925
                       MD MPH             :   254   ALLENTOWN       :  1919
                       AGPCNP-BC          :   252   BATON ROUGE     :  1902
                       LCSW-C             :   250   FORT MYERS      :  1891
                       M.D., M.S.         :   245   SARASOTA        :  1871
                       APRN-BC            :   237   NEW ORLEANS     :  1866
                       GNP                :   233   CHARLOTTESVILLE :  1862
                       MD, FACC           :   232   COLORADO SPRINGS:  1856
                       ARNP-C             :   229   MIDDLETOWN      :  1851
                       MSN                :   223   GLENDALE        :  1806
                       PSY.D              :   218   NAPLES          :  1784
                       MD, MS             :   214   AUGUSTA         :  1778
                       APRN-CNP           :   206   CONCORD         :  1768
                       A.P.R.N.           :   205   LINCOLN         :  1754
                       D. O.              :   205   SPOKANE         :  1751
                       M.B.B.S.           :   205   NORFOLK         :  1726
                       M.D., F.A.C.S.     :   202   NEW HAVEN       :  1722
                       DMD                :   201   DANVILLE        :  1713
                       MPAS, PA-C         :   200   FORT WAYNE      :  1675
                       RN, CNP            :   198   DECATUR         :  1663
                       O.D                :   192   MARIETTA        :  1661
                       (Other)            : 41533   (Other)         :710866
                                           ProviderType
 Addiction Medicine                              :   202
 Advanced Heart Failure and Transplant Cardiology:    47
 All Other Suppliers                             :     3
 Allergy/ Immunology                             :  4739
 Anesthesiology                                  :  5721
 Cardiac Surgery                                 :  1721
 Cardiology                                      : 49088
 Certified Clinical Nurse Specialist             :  2287
 Certified Nurse Midwife                         :   208
 Certified Registered Nurse Anesthetist (CRNA)   :    77
 Chiropractic                                    :     1
 Clinic or Group Practice                        :    80
 Clinical Cardiac Electrophysiology              :  5076
 Colorectal Surgery (Proctology)                 :  2657
 Critical Care (Intensivists)                    :  3578
 Dentist                                         :    11
 Dermatology                                     : 21315
 Diagnostic Radiology                            :  1052
 Emergency Medicine                              :  8164
 Endocrinology                                   : 10202
 Family Practice                                 :137880
 Gastroenterology                                : 26957
 General Practice                                :  6178
 General Surgery                                 : 32735
 Geriatric Medicine                              :  3814
 Geriatric Psychiatry                            :   393
 Gynecological Oncology                          :  1559
 Hand Surgery                                    :  2392
 Hematology                                      :  1420
 Hematology-Oncology                             : 20099
 Hospice and Palliative Care                     :  1391
 Hospitalist                                     :  4426
 Infectious Disease                              :  9991
 Internal Medicine                               :162123
 Interventional Cardiology                       :  8299
 Interventional Pain Management                  :  2766
 Interventional Radiology                        :   668
 Licensed Clinical Social Worker                 : 12790
 Mass Immunizer Roster Biller                    :     1
 Maxillofacial Surgery                           :   557
 Medical Oncology                                :  6665
 Nephrology                                      : 24873
 Neurology                                       : 26126
 Neuropsychiatry                                 :   231
 Neurosurgery                                    :  7940
 Nuclear Medicine                                :   118
 Nurse Practitioner                              :110542
 Obstetrics & Gynecology                         : 18277
 Ophthalmology                                   : 14952
 Optometry                                       : 17504
 Oral Surgery (Dentist only)                     :   798
 Orthopedic Surgery                              : 34473
 Osteopathic Manipulative Medicine               :   845
 Otolaryngology                                  : 15664
 Pain Management                                 :  3506
 Pathology                                       :   171
 Pediatric Medicine                              :  1485
 Peripheral Vascular Disease                     :   131
 Physical Medicine and Rehabilitation            : 12309
 Physical Therapist in Private Practice          :     6
 Physician Assistant                             : 58420
 Plastic and Reconstructive Surgery              :  4795
 Podiatry                                        : 23568
 Preventive Medicine                             :   309
 Psychiatry                                      : 26972
 Psychologist, Clinical                          : 12125
 Public Health or Welfare Agency                 :     1
 Pulmonary Disease                               : 21973
 Radiation Oncology                              :  6409
 Registered Dietitian or Nutrition Professional  :  1458
 Rheumatology                                    :  7770
 Sleep Medicine                                  :   746
 Speech Language Pathologist                     :     2
 Sports Medicine                                 :  1768
 Surgical Oncology                               :  1516
 Thoracic Surgery                                :  3035
 Undefined Physician type                        :   593
 Unknown Supplier/Provider Specialty             :     5
 Urology                                         : 21131
 Vascular Surgery                                :  6695

In [19]:
aggNumServices <- aggregate(NumberServices ~ State, dat1, sum)

In [20]:
aggNumServices[order(aggNumServices$NumberServices),]

   State NumberServices
4  AP         589.0
1  AE        4460.0
58 XX        4492.0
29 MP        4804.0
59 ZZ        5811.0
14 GU       19324.0
52 VI       25649.0
2  AK      194642.0
57 WY      216437.5
44 PR      223525.0
53 VT      304152.0
33 ND      320992.0
47 SD      401471.5
10 DC      408470.0
15 HI      422287.0
31 MT      423918.0
45 RI      479622.0
17 ID      552327.0
25 ME      671258.0
37 NM      705928.0
50 UT      751851.0
11 DE      777223.0
35 NH      818603.0
34 NE     1043195.0
56 WV     1053569.5
42 OR     1130661.0
27 MN     1327646.7
38 NV     1422497.3
16 IA     1503018.0
20 KS     1529122.0
8  CO     1821354.0
30 MS     1825334.0
5  AR     1849179.0
55 WI     2176240.0
9  CT     2276817.5
41 OK     2317365.5
22 LA     2557490.3
54 WA     2571241.1
21 KY     2723987.1
3  AL     2785515.5
46 SC     2930909.1
28 MO     3113438.0
6  AZ     3341049.5
19 IN     3644839.0
24 MD     3895843.0
48 TN     4052842.0
23 MA     4536808.0
51 VA     4648452.0
13 GA     4821690.0
26 MI     5419768.9
32 NC     5694534.8
40 OH     5871589.6
36 NJ     6615900.7
18 IL     6910017.8
43 PA     7046679.7
39 NY    11081508.5
49 TX    11769399.1
7  CA    14406425.5
12 FL    14733962.0

In [7]:
summary(aggdata)

     State    NumberServices
 AE     : 1   Min.   :     589
 AK     : 1   1st Qu.:  423102
 AL     : 1   Median : 1529122
 AP     : 1   Mean   : 2782843
 AR     : 1   3rd Qu.: 3770341
 AZ     : 1   Max.   :14733962
 (Other):53

In [8]:
setwd ("/Users/ruyazhang/downloads")

In [9]:
dat2 <- read.csv("StateCountyFFS2017.csv")

In [15]:
stateBeneficiaries <- select(filter(dat2, County == "STATE TOTAL"), c(State, Beneficiaries) )

In [16]:
print(stateBeneficiaries)

   State Beneficiaries
1     AK      82927.00
2     AL     969116.00
3     AR     593592.00
4     AZ    1155335.00
5     CA    5478663.00
6     CO     789379.00
7     CT     604883.00
8     DC      76084.00
9     DE     184883.00
10    FL    4148415.00
11    GA    1544616.00
12    HI     231721.00
13    IA     577446.00
14    ID     294633.00
15    IL    2007176.00
16    IN    1160602.00
17    KS     485625.00
18    KY     857387.00
19    LA     797069.00
20    MA    1174969.00
21    MD     881248.00
22    ME     306728.00
23    MI    1926676.00
24    MN     923747.00
25    MO    1129912.00
26    MS     565678.00
27    MT     206080.00
28    NC    1823347.00
29    ND     118011.00
30    NE     312343.00
31    NH     258658.00
32    NJ    1422817.00
33    NM     370629.00
34    NV     452921.00
35    NY    3208508.00
36    OH    2143757.00
37    OK     669922.00
38    OR     767980.00
39    PA    2491524.00
40    PR     633773.00
41    RI     192336.00
42    SC     973995.00
43    SD     158039.00
44    TN    1248577.00
45    TX    3668126.00
46    UT     343823.00
47    VA    1326512.00
48    VI      18155.00
49    VT     131108.00
50    WA    1196540.00
51    WI    1074484.00
52    WV     414555.00
53    WY      97212.00

In [17]:
#df <- merge(x=stateBeneficiaries, y=aggNumServices, by = "State", all=TRUE, sort=TRUE)

In [21]:
df <- merge(x=stateBeneficiaries, y=aggNumServices, by = "State")

In [22]:
print(df)

   State Beneficiaries NumberServices
1     AK      82927.00       194642.0
2     AL     969116.00      2785515.5
3     AR     593592.00      1849179.0
4     AZ    1155335.00      3341049.5
5     CA    5478663.00     14406425.5
6     CO     789379.00      1821354.0
7     CT     604883.00      2276817.5
8     DC      76084.00       408470.0
9     DE     184883.00       777223.0
10    FL    4148415.00     14733962.0
11    GA    1544616.00      4821690.0
12    HI     231721.00       422287.0
13    IA     577446.00      1503018.0
14    ID     294633.00       552327.0
15    IL    2007176.00      6910017.8
16    IN    1160602.00      3644839.0
17    KS     485625.00      1529122.0
18    KY     857387.00      2723987.1
19    LA     797069.00      2557490.3
20    MA    1174969.00      4536808.0
21    MD     881248.00      3895843.0
22    ME     306728.00       671258.0
23    MI    1926676.00      5419768.9
24    MN     923747.00      1327646.7
25    MO    1129912.00      3113438.0
26    MS     565678.00      1825334.0
27    MT     206080.00       423918.0
28    NC    1823347.00      5694534.8
29    ND     118011.00       320992.0
30    NE     312343.00      1043195.0
31    NH     258658.00       818603.0
32    NJ    1422817.00      6615900.7
33    NM     370629.00       705928.0
34    NV     452921.00      1422497.3
35    NY    3208508.00     11081508.5
36    OH    2143757.00      5871589.6
37    OK     669922.00      2317365.5
38    OR     767980.00      1130661.0
39    PA    2491524.00      7046679.7
40    PR     633773.00       223525.0
41    RI     192336.00       479622.0
42    SC     973995.00      2930909.1
43    SD     158039.00       401471.5
44    TN    1248577.00      4052842.0
45    TX    3668126.00     11769399.1
46    UT     343823.00       751851.0
47    VA    1326512.00      4648452.0
48    VI      18155.00        25649.0
49    VT     131108.00       304152.0
50    WA    1196540.00      2571241.1
51    WI    1074484.00      2176240.0
52    WV     414555.00      1053569.5
53    WY      97212.00       216437.5

In [23]:
numera <- df[,3]

In [24]:
denom <- as.numeric(as.character(df[,2]))

In [25]:
Rate=numera/denom*1000

In [26]:
print(Rate)

 [1] 2347.1487 2874.2849 3115.2357 2891.8448 2629.5513 2307.3251 3764.0626
 [8] 5368.6715 4203.8641 3551.7088 3121.6108 1822.3942 2602.8720 1874.6271
[15] 3442.6566 3140.4728 3148.7712 3177.0800 3208.6185 3861.2151 4420.8248
[22] 2188.4471 2813.0152 1437.2406 2755.4695 3226.8075 2057.0555 3123.1218
[29] 2720.0176 3339.9020 3164.8084 4649.8606 1904.6756 3140.7184 3453.7886
[36] 2738.9250 3459.1572 1472.2532 2828.2608  352.6894 2493.6673 3009.1624
[43] 2540.3318 3245.9688 3208.5591 2186.7385 3504.2668 1412.7788 2319.8584
[50] 2148.8969 2025.3815 2541.4469 2226.4484

In [27]:
df$Rate <- numera/denom*1000

In [28]:
print(df)

   State Beneficiaries NumberServices      Rate
1     AK      82927.00       194642.0 2347.1487
2     AL     969116.00      2785515.5 2874.2849
3     AR     593592.00      1849179.0 3115.2357
4     AZ    1155335.00      3341049.5 2891.8448
5     CA    5478663.00     14406425.5 2629.5513
6     CO     789379.00      1821354.0 2307.3251
7     CT     604883.00      2276817.5 3764.0626
8     DC      76084.00       408470.0 5368.6715
9     DE     184883.00       777223.0 4203.8641
10    FL    4148415.00     14733962.0 3551.7088
11    GA    1544616.00      4821690.0 3121.6108
12    HI     231721.00       422287.0 1822.3942
13    IA     577446.00      1503018.0 2602.8720
14    ID     294633.00       552327.0 1874.6271
15    IL    2007176.00      6910017.8 3442.6566
16    IN    1160602.00      3644839.0 3140.4728
17    KS     485625.00      1529122.0 3148.7712
18    KY     857387.00      2723987.1 3177.0800
19    LA     797069.00      2557490.3 3208.6185
20    MA    1174969.00      4536808.0 3861.2151
21    MD     881248.00      3895843.0 4420.8248
22    ME     306728.00       671258.0 2188.4471
23    MI    1926676.00      5419768.9 2813.0152
24    MN     923747.00      1327646.7 1437.2406
25    MO    1129912.00      3113438.0 2755.4695
26    MS     565678.00      1825334.0 3226.8075
27    MT     206080.00       423918.0 2057.0555
28    NC    1823347.00      5694534.8 3123.1218
29    ND     118011.00       320992.0 2720.0176
30    NE     312343.00      1043195.0 3339.9020
31    NH     258658.00       818603.0 3164.8084
32    NJ    1422817.00      6615900.7 4649.8606
33    NM     370629.00       705928.0 1904.6756
34    NV     452921.00      1422497.3 3140.7184
35    NY    3208508.00     11081508.5 3453.7886
36    OH    2143757.00      5871589.6 2738.9250
37    OK     669922.00      2317365.5 3459.1572
38    OR     767980.00      1130661.0 1472.2532
39    PA    2491524.00      7046679.7 2828.2608
40    PR     633773.00       223525.0  352.6894
41    RI     192336.00       479622.0 2493.6673
42    SC     973995.00      2930909.1 3009.1624
43    SD     158039.00       401471.5 2540.3318
44    TN    1248577.00      4052842.0 3245.9688
45    TX    3668126.00     11769399.1 3208.5591
46    UT     343823.00       751851.0 2186.7385
47    VA    1326512.00      4648452.0 3504.2668
48    VI      18155.00        25649.0 1412.7788
49    VT     131108.00       304152.0 2319.8584
50    WA    1196540.00      2571241.1 2148.8969
51    WI    1074484.00      2176240.0 2025.3815
52    WV     414555.00      1053569.5 2541.4469
53    WY      97212.00       216437.5 2226.4484