In [147]:
setwd ("/Users/ruyazhang/downloads")

In [148]:
dat1 <- read.csv("Medicare90791.csv")

In [121]:
# group by state  use R or excel    use one code    aggregate service to different state

#automatic API

#result less than a month checkin weekly

In [154]:
vars <- c("State", "Gender", "Credentials", "City", "ProviderType")

In [155]:
medicare1 <- dat1[,vars]

In [158]:
summary(medicare1, maxsum = 100)

 State     Gender                  Credentials                 City
 AE:   2   F:11240   LCSW                :3107   NEW YORK        :  179
 AK:  20   M: 6281   PH.D.               :2657   SAN ANTONIO     :  153
 AL: 135             PHD                 :1893   BROOKLYN        :  145
 AR: 205             PSY.D.              :1228   CHICAGO         :  138
 AZ: 228                                 :1122   LOS ANGELES     :  121
 CA:1210             PSYD                : 772   SPRINGFIELD     :  115
 CO: 269             MD                  : 640   HOUSTON         :  114
 CT: 330             M.D.                : 601   CHARLOTTE       :  112
 DC:  26             LICSW               : 493   WILMINGTON      :  109
 DE:  80             MSW                 : 328   INDIANAPOLIS    :  103
 FL:1293             LMSW                : 317   SAN DIEGO       :  100
 GA: 353             PH.D                : 252   DALLAS          :   90
 HI:  30             MSW, LCSW           : 192   PHILADELPHIA    :   90
 IA: 209             LISW                : 191   JACKSONVILLE    :   81
 ID: 131             L.C.S.W.            : 177   PORTLAND        :   79
 IL: 791             PSY.D               : 169   RICHMOND        :   73
 IN: 472             LCSW-C              : 139   AUSTIN          :   72
 KS: 192             ED.D.               :  79   COLUMBUS        :   72
 KY: 219             LSCSW               :  76   MINNEAPOLIS     :   72
 LA: 180             MSW, LICSW          :  65   DETROIT         :   71
 MA: 822             NP                  :  59   BOCA RATON      :   67
 MD: 422             D.O.                :  57   COLUMBIA        :   65
 ME: 162             PSY D               :  56   BALTIMORE       :   64
 MI: 771             M.S.W.              :  55   TAMPA           :   63
 MN: 488             PSY. D.             :  54   JACKSON         :   62
 MO: 288             LCSW-R              :  53   ASHEVILLE       :   60
 MS:  93             PH D                :  44   GRAND RAPIDS    :   58
 MT:  62             MSW LCSW            :  43   ALBUQUERQUE     :   57
 NC: 805             EDD                 :  41   RALEIGH         :   57
 ND:  59             APRN                :  40   LOUISVILLE      :   56
 NE: 103             LSW                 :  40   MILWAUKEE       :   55
 NH: 127             LISW-CP             :  35   OKLAHOMA CITY   :   54
 NJ: 573             LISW-S              :  35   CINCINNATI      :   53
 NM: 108             ARNP                :  34   GAINESVILLE     :   53
 NV:  79             CSW                 :  31   LANCASTER       :   53
 NY:1192             M.D                 :  31   CHARLESTON      :   52
 OH: 686             DO                  :  30   BOSTON          :   51
 OK: 161             PA-C                :  26   CLEVELAND       :   50
 OR: 175             PSYD, LP            :  26   MIAMI           :   50
 PA: 859             MSW LICSW           :  25   SAN FRANCISCO   :   49
 PR:  10             PH. D.              :  25   ROCHESTER       :   48
 RI:  99             PHD, LP             :  25   GREENVILLE      :   47
 SC: 226             MA                  :  24   MADISON         :   47
 SD:  55             ED.D                :  22   DURHAM          :   46
 TN: 324             LP                  :  22   PHOENIX         :   46
 TX: 996             PHD.                :  20   VIRGINIA BEACH  :   45
 UT:  93             PMHNP               :  20   COLORADO SPRINGS:   44
 VA: 462             PSYD.               :  20   SARASOTA        :   42
 VI:   1             CNP                 :  18   WICHITA         :   42
 VT:  66             L.I.S.W.            :  18   ALBANY          :   41
 WA: 257             M.A.                :  18   FORT WAYNE      :   41
 WI: 411             MSW, LISW           :  18   SAINT LOUIS     :   41
 WV:  71             LLMSW               :  17   BURLINGTON      :   40
 WY:  39             PHD, HSPP           :  17   KANSAS CITY     :   40
 ZZ:   1             PSYCHOLOGIST        :  17   WASHINGTON      :   40
                     LCSW, CADC          :  15   BUFFALO         :   39
                     LCSWR               :  15   DECATUR         :   39
                     M.S.                :  15   SAINT PAUL      :   39
                     MSW,LCSW            :  15   CONCORD         :   38
                     PMHNP-BC            :  15   LEXINGTON       :   38
                     LCSWA               :  14   WORCESTER       :   38
                     CRNP                :  13   ATLANTA         :   37
                     PH.D., HSPP         :  13   CANTON          :   37
                     PSYD, HSPP          :  13   DENVER          :   37
                     LCSW, LCAS          :  12   KNOXVILLE       :   37
                     LPC                 :  12   NORFOLK         :   37
                     M.S.W., L.C.S.W.    :  12   SEATTLE         :   37
                     PH.D., L.P.         :  12   BOISE           :   36
                     L.I.C.S.W.          :  11   FORT MYERS      :   36
                     LCSWC               :  11   MEMPHIS         :   36
                     LGSW                :  11   SCOTTSDALE      :   36
                     MSSW                :  11   FORT WORTH      :   35
                     MSW, LSW            :  11   PROVIDENCE      :   35
                     N.P.                :  11   OMAHA           :   34
                     APN                 :  10   TULSA           :   34
                     L.C.S.W             :  10   DOVER           :   33
                     MSW, LMSW           :  10   FAYETTEVILLE    :   33
                     PHD LP              :  10   FORT LAUDERDALE :   33
                     CNS                 :   9   LAS VEGAS       :   33
                     PHD HSPP            :   9   LITTLE ROCK     :   33
                     PSYD LP             :   9   NASHVILLE       :   33
                     CP                  :   8   WEST SPRINGFIELD:   33
                     FNP                 :   7   ARLINGTON       :   31
                     L.M.S.W.            :   7   SALT LAKE CITY  :   31
                     LCSW MSW            :   7   BLOOMINGTON     :   30
                     LCSW, LMFT          :   7   GREENSBORO      :   30
                     LMSW, ACSW          :   7   LAKEWOOD        :   30
                     MS                  :   7   PASADENA        :   30
                     PSY.D., LP          :   7   PITTSBURGH      :   30
                     RN                  :   7   SPOKANE         :   30
                     APSW                :   6   TUCSON          :   30
                     LCSW, CASAC         :   6   BATON ROUGE     :   29
                     LICENSED CLINICAL SO:   6   BEACHWOOD       :   29
                     LSCW                :   6   BRONX           :   29
                     MSW, ACSW, LCSW     :   6   ERIE            :   29
                     MSW, LISW-S         :   6   FLINT           :   29
                     MSW/LCSW            :   6   PENSACOLA       :   29
                     MSW/LICSW           :   6   RENO            :   29
                     P-LCSW              :   6   TOWSON          :   29
                     (Other)             :1480   (Other)         :12183
                               ProviderType
 Addiction Medicine                  :   4
 Anesthesiology                      :   4
 Certified Clinical Nurse Specialist :  92
 Diagnostic Radiology                :   1
 Emergency Medicine                  :   2
 Family Practice                     :  38
 Gastroenterology                    :   1
 General Practice                    :   8
 General Surgery                     :   2
 Geriatric Psychiatry                :  12
 Hematology-Oncology                 :   2
 Hospitalist                         :   1
 Infectious Disease                  :   1
 Internal Medicine                   :  20
 Interventional Pain Management      :   5
 Licensed Clinical Social Worker     :7195
 Neurology                           :  11
 Neuropsychiatry                     :   5
 Nurse Practitioner                  : 344
 Obstetrics & Gynecology             :   2
 Osteopathic Manipulative Medicine   :   2
 Pain Management                     :  11
 Pediatric Medicine                  :   2
 Physical Medicine and Rehabilitation:   6
 Physician Assistant                 :  45
 Preventive Medicine                 :   1
 Psychiatry                          :1320
 Psychologist, Clinical              :8380
 Pulmonary Disease                   :   1
 Unknown Supplier/Provider Specialty :   1
 Urology                             :   2

In [146]:
#aggregate(dat1$NumberServices, by=list(State=dat1$State), FUN=sum)

In [138]:
#aggregate(NumberServices ~ State, dat1, sum)

In [139]:
aggdata <- aggregate(NumberServices ~ State, dat1, sum)

In [118]:
aggdata[order(aggdata$NumberServices),]

   State NumberServices
55 ZZ       20.0
49 VI       28.0
1  AE      158.0
41 PR      208.0
2  AK      413.0
54 WY     1003.0
13 HI     1041.0
44 SD     1412.0
9  DC     1479.0
30 ND     1529.0
50 VT     1547.0
28 MT     1774.0
35 NV     2687.0
47 UT     2953.0
10 DE     2996.0
53 WV     3024.0
31 NE     3051.0
34 NM     3089.0
15 ID     3321.0
42 RI     3706.0
39 OR     4517.0
27 MS     4792.0
23 ME     4799.0
32 NH     5032.0
14 IA     6213.0
18 KS     6730.0
4  AR     7105.0
38 OK     7625.0
3  AL     7776.0
20 LA     7901.0
19 KY     8050.0
7  CO     8227.0
51 WA     8832.0
5  AZ     8856.0
43 SC     9695.0
26 MO    11106.0
52 WI    11245.0
25 MN    12086.0
8  CT    14685.0
45 TN    15588.0
12 GA    16984.0
48 VA    18079.0
22 MD    19657.0
17 IN    20420.0
37 OH    26159.6
29 NC    29797.0
21 MA    31611.0
24 MI    31921.0
33 NJ    32164.0
16 IL    33424.0
40 PA    36592.0
46 TX    52123.0
36 NY    52494.0
11 FL    59269.0
6  CA    64246.0