In [1]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 2.3 MB/s eta 0:00:01
Collecting shapely>=1.6
  Downloading Shapely-1.7.1-cp38-cp38-macosx_10_9_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 1.6 MB/s eta 0:00:01
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp38-cp38-macosx_10_9_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 1.0 MB/s eta 0:00:01
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp38-cp38-macosx_10_9_x86_64.whl (7.6 MB)
     |████████████████████████████████| 7.6 MB 2.6 MB/s eta 0:00:01     |███████████████████████         | 5.4 MB 1.1 MB/s eta 0:00:02
Requirement already satisfied: pandas>=0.24.0 in /opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.1.3)
Requirement already satisfied: six>=1.7 in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (50.3.1.post20201107)
Requirement already satisfied: click>=4.0 in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2020.6.20)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->geopandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->geopandas) (2020.1)
Installing collected packages: shapely, click-plugins, cligj, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0 shapely-1.7.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install geopy

Collecting geopy
  Downloading geopy-2.1.0-py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 1.6 MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [24]:
import geopandas, pandas as pd, geopy

In [15]:
from geopy.geocoders import Nominatim

In [16]:
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("1215 LEE ST, CHARLOTTESVILLE, VA")

In [18]:
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 38.0324342, Longitude = -78.499060670954

In [47]:
df = pd.read_csv("address2.csv")
df.head()

             Street1             City    Zip State Country  ID  Unnamed: 6
0        1215 LEE ST  CHARLOTTESVILLE  22908    VA      US   1         NaN
1   11271 NUCKOLS RD       GLEN ALLEN  23059    VA      US   2         NaN
2   270 EDWARDS BLVD       LONG BEACH  11561    NY      US   3         NaN
3  9400 BRIGHTON WAY    BEVERLY HILLS  90210    CA      US   4         NaN
4      425 N DATE ST        ESCONDIDO  92025    CA      US   5         NaN

In [48]:
df['ADDRESS']=df['Street1']+','+df['City']+','+df['State']

In [49]:
df.head()

,Street1,City,Zip,State,Country,ID,Unnamed: 6,ADDRESS
0,1215 LEE ST,CHARLOTTESVILLE,22908,VA,US,1,NaN,"1215 LEE ST,CHARLOTTESVILLE,VA"
1,11271 NUCKOLS RD,GLEN ALLEN,23059,VA,US,2,NaN,"11271 NUCKOLS RD,GLEN ALLEN,VA"
2,270 EDWARDS BLVD,LONG BEACH,11561,NY,US,3,NaN,"270 EDWARDS BLVD,LONG BEACH,NY"
3,9400 BRIGHTON WAY,BEVERLY HILLS,90210,CA,US,4,NaN,"9400 BRIGHTON WAY,BEVERLY HILLS,CA"
4,425 N DATE ST,ESCONDIDO,92025,CA,US,5,NaN,"425 N DATE ST,ESCONDIDO,CA"

In [50]:
from geopy.extra.rate_limiter import RateLimiter

In [51]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [52]:
df['location'] = df['ADDRESS'].apply(geocode)

In [53]:
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [55]:
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

In [56]:
df

,Street1,City,Zip,State,Country,ID,Unnamed: 6,ADDRESS,location,point,latitude,longitude,altitude
0,1215 LEE ST,CHARLOTTESVILLE,22908,VA,US,1,NaN,"1215 LEE ST,CHARLOTTESVILLE,VA","(University of Virginia Medical Center, 1215, ...","(38.0324342, -78.499060670954, 0.0)",38.032434,-78.499061,0.0
1,11271 NUCKOLS RD,GLEN ALLEN,23059,VA,US,2,NaN,"11271 NUCKOLS RD,GLEN ALLEN,VA",None,None,NaN,NaN,NaN
2,270 EDWARDS BLVD,LONG BEACH,11561,NY,US,3,NaN,"270 EDWARDS BLVD,LONG BEACH,NY","(270, Edwards Boulevard, Long Beach, Nassau Co...","(40.5874489, -73.6636488, 0.0)",40.587449,-73.663649,0.0
3,9400 BRIGHTON WAY,BEVERLY HILLS,90210,CA,US,4,NaN,"9400 BRIGHTON WAY,BEVERLY HILLS,CA","(Garfield Pharmacy, 9400, Brighton Way, Beverl...","(34.0704017, -118.4009615, 0.0)",34.070402,-118.400961,0.0
4,425 N DATE ST,ESCONDIDO,92025,CA,US,5,NaN,"425 N DATE ST,ESCONDIDO,CA","(Ray M. Dickinson Wellness Center, 425, North ...","(33.1291004, -117.07208567806653, 0.0)",33.129100,-117.072086,0.0
5,351 HOSPITAL RD,NEWPORT BEACH,92663,CA,US,6,NaN,"351 HOSPITAL RD,NEWPORT BEACH,CA","(351, Hospital Road, Newport Heights, Newport ...","(33.62578581405989, -117.92843000473538, 0.0)",33.625786,-117.928430,0.0
6,306 ALETHA LN,MILLERSVILLE,17551,PA,US,7,NaN,"306 ALETHA LN,MILLERSVILLE,PA","(306, Aletha Lane, Millersville, Lancaster Cou...","(40.00129667181121, -76.36386620822968, 0.0)",40.001297,-76.363866,0.0
7,44135 WOODRIDGE PKWY,LEESBURG,20176,VA,US,8,NaN,"44135 WOODRIDGE PKWY,LEESBURG,VA",None,None,NaN,NaN,NaN
8,3601 SW 160TH AVE,MIRAMAR,33027,FL,US,9,NaN,"3601 SW 160TH AVE,MIRAMAR,FL","(Southwest 160th Avenue, Miramar, Broward Coun...","(25.9807344, -80.3598215, 0.0)",25.980734,-80.359821,0.0
9,7008 INDIANA AVE,LUBBOCK,79413,TX,US,10,NaN,"7008 INDIANA AVE,LUBBOCK,TX","(Bodyscapes Medical Spa, 7008, Indiana Avenue,...","(33.53055005, -101.88825075, 0.0)",33.530550,-101.888251,0.0