# Home-based Care Project

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/ruyazhang/Downloads/Medicare_Provider_Util_Payment_PUF_CY2018.txt', delimiter = "\t", skiprows = [1], low_memory=False)

In [3]:
df.head(3)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care on day of discharge,N,68.0,67,68,73.821029,381.308824,57.880294,58.212500
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,"Hospital observation care, typically 30 minutes",N,19.0,19,19,100.883158,476.947368,76.795263,77.469474
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,"Hospital observation care, typically 70 minutes",N,26.0,26,26,188.110769,1086.923077,147.479231,147.793462

In [4]:
df.set_index('hcpcs_code', inplace=True)
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,place_of_service,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
hcpcs_code,,,,,,,,,,,,,,,,,,,,,
99217,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,F,Hospital observation care on day of discharge,N,68.0,67,68,73.821029,381.308824,57.880294,58.212500
99218,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,F,"Hospital observation care, typically 30 minutes",N,19.0,19,19,100.883158,476.947368,76.795263,77.469474
99220,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,F,"Hospital observation care, typically 70 minutes",N,26.0,26,26,188.110769,1086.923077,147.479231,147.793462
99221,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,F,"Initial hospital inpatient care, typically 30 ...",N,24.0,24,24,102.240000,474.583333,80.155000,80.943333
99222,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,F,"Initial hospital inpatient care, typically 50 ...",N,17.0,17,17,138.045882,625.000000,108.225294,109.220000

,"G0151","G0152","G0153","G0155","G0156","G0157","G0158","G0159","G0160","G0161","G0162","G0299","G0300","G0493","G0494","G0495","G0496","G2168","G2169","Q5001","Q5002","Q5009"

In [15]:
# df.loc[['90849', '90865']]

In [39]:
nd = df.loc[["99341","99342","99343","99344","99345","99347","99348","99349","99350","99324","99325","99326","99327","99328","99334","99335","99336","99337","11055","11056","11057","11719","11720","11721","G0127","90832","90833","90834","90836","90837","90838","90845","90846","90847","90849","90853","90865"]]
nd

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,place_of_service,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
hcpcs_code,,,,,,,,,,,,,,,,,,,,,
99341,1003056821,PIZZO-BERKEY,ALLYSON,J,MD,F,I,351 HOSPITAL RD,SUITE 305,NEWPORT BEACH,...,O,"New patient home visit, typically 20 minutes",N,1150.0,1150,1150,58.510000,65.652174,41.087443,39.634078
99341,1003813726,BURNS,ROBERT,A,D.P.M.,M,I,28000 ROLLCREST RD,NaN,FARMINGTON HILLS,...,O,"New patient home visit, typically 20 minutes",N,13.0,13,13,54.649231,85.000000,18.436923,19.642308
99341,1003908898,HOLMES,EDNA,C,DPM,F,I,1700 ROSEDALE CT,NaN,WOODBRIDGE,...,O,"New patient home visit, typically 20 minutes",N,19.0,19,19,54.220000,75.000000,30.986316,32.617368
99341,1013265495,GILROY,ANDREA,NaN,DPM,F,I,2511 OLD CORNWALLIS RD STE 200,NaN,DURHAM,...,O,"New patient home visit, typically 20 minutes",N,37.0,37,37,52.755946,53.816486,36.956216,40.149189
99341,1013941582,OSHEROFF,ROBERT,NaN,DPM,M,I,6105 ADMIRALTY LN,NaN,FOSTER CITY,...,O,"New patient home visit, typically 20 minutes",N,24.0,24,24,59.480000,165.416667,40.390000,39.988333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90853,1992932735,KLINESTEKER,GLORIA,NaN,LLMSW,F,I,2601 13TH ST,NaN,PORT HURON,...,O,Group psychotherapy,N,148.0,18,148,19.700000,71.114054,15.335676,15.502500
90853,1992940308,MURRAY,PAMELA,G,MSSW,F,I,213 W MAPLEWOOD LN STE 400,NaN,NASHVILLE,...,O,Group psychotherapy,N,25.0,25,25,19.910000,30.000000,15.610000,15.670000
90853,1992944839,ORME,JULIE,M,LCSW-C,F,I,9475 LOTTSFORD RD,250,LARGO,...,O,Group psychotherapy,N,189.0,34,189,21.130000,27.860000,15.596190,14.748571
90865,1083780043,TUNE,LARRY,E,NaN,M,I,1841 CLIFTON RD NE,NaN,ATLANTA,...,F,Injection of hypnotic drug for psychiatric dia...,N,43.0,13,43,126.639070,512.232558,94.673488,97.392093
90865,1669636536,RIVA POSSE,PATRICIO,NaN,M.D.,M,I,2004 RIDGEWOOD DR NE,TUFTS HOUSE SUITE 216,ATLANTA,...,F,Injection of hypnotic drug for psychiatric dia...,N,218.0,17,218,126.645596,515.834862,92.557661,101.034862

In [40]:
# df.loc["S0390"]
# df.loc["G0151"]

In [41]:
nd.reset_index(inplace=True)
nd

,hcpcs_code,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,...,place_of_service,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,99341,1003056821,PIZZO-BERKEY,ALLYSON,J,MD,F,I,351 HOSPITAL RD,SUITE 305,...,O,"New patient home visit, typically 20 minutes",N,1150.0,1150,1150,58.510000,65.652174,41.087443,39.634078
1,99341,1003813726,BURNS,ROBERT,A,D.P.M.,M,I,28000 ROLLCREST RD,NaN,...,O,"New patient home visit, typically 20 minutes",N,13.0,13,13,54.649231,85.000000,18.436923,19.642308
2,99341,1003908898,HOLMES,EDNA,C,DPM,F,I,1700 ROSEDALE CT,NaN,...,O,"New patient home visit, typically 20 minutes",N,19.0,19,19,54.220000,75.000000,30.986316,32.617368
3,99341,1013265495,GILROY,ANDREA,NaN,DPM,F,I,2511 OLD CORNWALLIS RD STE 200,NaN,...,O,"New patient home visit, typically 20 minutes",N,37.0,37,37,52.755946,53.816486,36.956216,40.149189
4,99341,1013941582,OSHEROFF,ROBERT,NaN,DPM,M,I,6105 ADMIRALTY LN,NaN,...,O,"New patient home visit, typically 20 minutes",N,24.0,24,24,59.480000,165.416667,40.390000,39.988333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149646,90853,1992932735,KLINESTEKER,GLORIA,NaN,LLMSW,F,I,2601 13TH ST,NaN,...,O,Group psychotherapy,N,148.0,18,148,19.700000,71.114054,15.335676,15.502500
149647,90853,1992940308,MURRAY,PAMELA,G,MSSW,F,I,213 W MAPLEWOOD LN STE 400,NaN,...,O,Group psychotherapy,N,25.0,25,25,19.910000,30.000000,15.610000,15.670000
149648,90853,1992944839,ORME,JULIE,M,LCSW-C,F,I,9475 LOTTSFORD RD,250,...,O,Group psychotherapy,N,189.0,34,189,21.130000,27.860000,15.596190,14.748571
149649,90865,1083780043,TUNE,LARRY,E,NaN,M,I,1841 CLIFTON RD NE,NaN,...,F,Injection of hypnotic drug for psychiatric dia...,N,43.0,13,43,126.639070,512.232558,94.673488,97.392093
149650,90865,1669636536,RIVA POSSE,PATRICIO,NaN,M.D.,M,I,2004 RIDGEWOOD DR NE,TUFTS HOUSE SUITE 216,...,F,Injection of hypnotic drug for psychiatric dia...,N,218.0,17,218,126.645596,515.834862,92.557661,101.034862